@model Domain.Models.Conta

@{
    ViewData["Title"] = "Criar";
}

<h1>Criar</h1>

<h4>Conta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GrupoID" class="control-label"></label>
                <select asp-for="GrupoID" class ="form-control" asp-items="ViewBag.GrupoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodigoConta" class="control-label"></label>
                <input asp-for="CodigoConta" class="form-control" />
                <span asp-validation-for="CodigoConta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Listar">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
