@model Domain.Models.Acumulado

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Acumulado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AcumuladoID" />
            <input type="hidden" asp-for="EmpresaID" />
            <input type="hidden" asp-for="CriadoEm" />
            <input type="hidden" asp-for="AtualizadoEm" />
            <input type="hidden" asp-for="Usuario" />
            <input type="hidden" asp-for="Status" />
            <div class="form-group">
                <label asp-for="CodigoContabil" class="control-label"></label>
                <input asp-for="CodigoContabil" class="form-control" />
                <span asp-validation-for="CodigoContabil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MesAno" class="control-label"></label>
                <input asp-for="MesAno" class="form-control" />
                <span asp-validation-for="MesAno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Listar">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
