@model IEnumerable<Domain.Models.Empresa>

@{
    ViewData["Title"] = "Listar";
}

<h1>Listar</h1>

<p>
    <a asp-action="Criar">Adicionar nova empresa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.EmpresaID">Editar</a> |
                <a asp-action="Remover" asp-route-id="@item.EmpresaID">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
